<div class="columns">
  <div class="col-side bordered">
    <!-- Start user progress component-->
    <app-sidebar></app-sidebar>
    <!-- End user progress component-->
  </div>
  <div class="col gutter-left" style="width:100%;">
    <div class="top-bordered">
      <div class="top-icons">
        <app-user-progress></app-user-progress>
      </div>
      <header class="row title-btns-split">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
          <!--<header class="title-btns-split">-->
          <h1 *ngFor="let address of bkmrk.getAddressArray()">{{address}}</h1>
          <!--</header>-->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4"> </div>

      </header>

      <div class="row">
        <div class="col-sm-12 outer-box">
           <div class="row text-center">CONGRATULATIONS!</div>
           <br>
          <div class="row text-center">YOU HAVE ACCEPTED {{bkmrkAppSrv.getRenterInfo().name}}  AS THE RENTER FOR</div>
          <div class="row text-center"> {{bkmrk.getAddressArray()}}. </div>
          <div class="row text-center" *ngIf="bkmrkAppSrv.getApplicationStatus()==constants.bookmarkApplicationStatus.docLoaded">  THE FOLLOWING WILL BE SENT TO {{bkmrkAppSrv.getRenterInfo().name}} FOR SIGNING! </div>
           <br>
          <form [formGroup]="documentFrm" (ngSubmit)="uploadDocument()">
            <!--<label for="file-upload">+ ADD LEASE AGREEMENT TO APPLICATION( PDF ONLY )</label><br/>-->
            <div class="row inner-box" *ngIf="bkmrkAppSrv.getApplicationStatus()<constants.bookmarkApplicationStatus.docLoaded" (click)="openFileChooser()" >
              <div class="col-xs-12 text-center">
              <strong>+ ADD LEASE AGREEMENT TO APPLICATION( PDF ONLY )</strong>
              <div class="input file">
                <input type="file" #fileInput (change)="attachFile($event)" [(ngModel)]="approveModel.userdoc" [formControl]="documentFrm.controls['userdoc']"
                  accept=".pdf" name="fileInput" id="file-upload" style="display:none" multiple />
              </div>
              </div>
            </div>
            <div *ngFor="let fname of appDocuments;let i = index">
            <!--<div *ngFor="let fname of fileSrv.getFilesName();let i = index">-->
              <div class="row inner-box">

                <div *ngIf="bkmrkAppSrv.getApplicationStatus() < constants.bookmarkApplicationStatus.docLoaded"  class="col-xs-1">

                  <span class="glyphicon glyphicon-trash"  (click)="deleteDocument(i)"></span>
                </div>
                <!--<div class="col-xs-1" (click)="fileSrv.downloadDocumentFile(fname['Bookmark_Application_Document_ID'])">
                  <span class="glyphicon glyphicon-download-alt"></span>
                </div>-->
                <div class="col-xs-5">{{fname['Document_Original_Name']}} </div>
                <!--<div class="col-xs-6">{{fname['name']}} </div>-->
                <div class="col-xs-5">
                  <span>Status&nbsp;:&nbsp;</span>
                  <span *ngIf="fname.Document_Status==constants.bkmrkAppDocStatus.toBeUploaded">To Be Uploaded</span>
                  <span *ngIf="fname.Document_Status==constants.bkmrkAppDocStatus.uploaded">Pending Signature</span>
                  <span *ngIf="fname.Document_Status==constants.bkmrkAppDocStatus.signed">Signed</span>
                </div>

              </div>

            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <div class="form-group buttons">
                  <div class="row">
                    <div class="error text-center" *ngIf="sameFilename">{{message['TXT35']}}</div> 
                      <div class="col-xs-2  col-sm-offset-2 pad-l0">
                        <button class="backbtn" type="button" (click)="gbf()"></button>                 
                      </div>                   
                      <div class="col-xs-10 col-sm-6">
                        <button type="submit" *ngIf="pendingUpload" [disabled]="sameFilename">UPLOAD DOCUMENT</button>
                        <div *ngIf="!pendingUpload">
                          <button type="button" *ngIf="bkmrkAppSrv.getApplicationStatus()<constants.bookmarkApplicationStatus.docLoaded" (click)="applicationToRenter()" [disabled]="!appDocuments.length">Forward to Renter for Signatures</button>
                          <button type="button" *ngIf="bkmrkAppSrv.getApplicationStatus()==constants.bookmarkApplicationStatus.docLoaded" (click)="applicationToRenter()" disabled>WAITING FOR SIGNATURES</button>
                          <button type="button" *ngIf="bkmrkAppSrv.getApplicationStatus()==constants.bookmarkApplicationStatus.docSigned" (click)="addLandlord()" >Add Landlord</button>
                          <button type="button" *ngIf="bkmrkAppSrv.getApplicationStatus()>constants.bookmarkApplicationStatus.docSigned" (click)="addLandlord()" >View Landlord</button>
                        </div>
                      </div>         
                   
                  </div>
                </div>
              </div>
            </div>
          </form>
       </div>
      </div>
    </div>
  </div>
</div>