/*.info-box{
    height: 13em;
    background-color: dimgray;
    color: white;
}

.col-sm-4{
    padding-right: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
}

.dashboard-layout header.title-btns-split{
    margin-top: 30px;
}

.rwoInfo{
    border: 1px solid black;
    padding: 15px 5px 5px 15px;
}*/