<div class="modal-content" (keyup)="keyUp($event)">
  <div class="modal-header">   
    <span class="pull-right" (click)="close()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></span>                  
    <!--<h4 class="modal-title">{{title}}</h4>-->
  </div>
  <!--<div class="modal-body">
    <p>{{message}}</p>
  </div>-->
   <div class="modal-body">
    <div class="pull-center mrg-bottom"><span class="pull-center">{{title}}</span></div>
    <div class="row"> {{message}} </div>
  </div>

  <div class="row modal-footer">
    <div class="col-xs-6 col-xs-offset-3"><button type="button" #okButton class="button" (click)="close()">OK</button></div>                    
  </div>
  <div class="row modal-footer"></div>
</div>
