
.login-logo {
	width: 240px;
	height: 54px;
	display: block;
	background: url(../assets/images/logo.svg) no-repeat center center;
	background-size: auto 100%;
	margin: 55px auto;
	overflow: hidden;
	text-indent: -999px;
}

.login-layout {
	max-width: 360px;
	margin: 0 auto;
	padding: 0 10px;
}





.login-layout .home {
	text-align: center;
	letter-spacing: 1px;
}

.login-layout .home p {
	margin: 10px 0;
}

.login-layout .home ol.list {
	margin: 2px 0 -6px;
	list-style-type: none;
	display: inline-block;
}

.login-layout .home ol.list li {
	margin: 16px 0;
	text-align: left;
}

.login-layout .home .buttons {
	margin: 30px 0 100px;
}




.login-layout .form-list {
	margin-bottom: 70px;
}

.login-layout .form-list .intro {
	font-size: 13px;
	text-align: center;
	margin-bottom: 40px;
	line-height: 1.5;
}

@media only screen and (min-width:530px) {
	.login-layout .form-list .intro {
		margin-left: -75px;
		margin-right: -75px;
		line-height: 1.5;
	}
}

.login-layout .form-list .intro.big {
	margin-bottom: 75px;
	font-size: 16px;
	line-height: 1.8;
}

.login-layout .form-list .intro.big mark {
	color: #FE2593;
	background: transparent;
	font-weight: bold;
}

.login-layout .form-list .muted {
	opacity: 0.6;
}

.login-layout .form-list .result {
	font-size: 13px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	line-height: 1.5;
}

.login-layout .form-list .result .focus {
	font-size: 50px;
	color: #FE2593;
}

.login-layout .form-list .confirm {
	font-size: 13px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	font-weight: bold;
	line-height: 1.5;
}

.login-layout .form-list .confirm-message {
	font-size: 13px;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 40px;
	line-height: 1.5;
	color: #FE2593;
}

.login-layout .form-list .round-button {
	margin-bottom: 40px;
	margin-top: 10px;
}

.login-layout .form-list div > .round-button:not(:last-child) {
	margin-bottom: 10px;
	margin-top: 10px;
}

label.round-button.disabled {
	background-color: #8E929D;
	pointer-events: none;
}

.login-layout .form-list .checkboxes {
	margin-top: 20px;
	margin-bottom: 50px;
}

.login-layout .form-list input {
	margin: 38px 0 36px;
	padding-right: 55px;
	clear: both;
}

.login-layout .form-list input + a:not(.button) {
	position: absolute;
	font-size: 9px;
	margin-top: -57px;
	right: 2px;
	text-decoration: none;
	transition: color 0.2s;
}

.login-layout .form-list input + a:hover {
	color: #667AAE;
}

.login-layout .form-list .buttons {
	clear: both;
	overflow: hidden;
	text-align: center;
}

.login-layout .form-list .buttons .alternative {
	clear: both;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	text-decoration: underline;
	cursor: pointer;
	transition: color 0.2s;
}

.login-layout .form-list .buttons .alternative:hover {
	color: #FE2593;
}

.login-layout .form-list a.button {
	width: 20%;
	margin-right: 5%;
	float: left;
	background-image: url(../assets/images/misc/login-back.svg);
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	text-indent: -990px;
}

.login-layout .form-list a.button + button {
	width: 75%;
	float: left;
}

.login-layout .form-list a.button.full-width {
	width: 100%;
	margin-right: 0;
}

.login-layout .update-list {
	margin: 50px -30px;
}

.login-layout .update-list a {
	font-size: 13px;
	text-decoration: none;
	display: block;
	margin: 8px;
	overflow: hidden;
	opacity: 1;
	transition: opacity 0.2s;
}

.login-layout .update-list a:hover {
	opacity: 0.6;
}

.login-layout .update-list a.incomplete {
	color: #FE2593;
}

.login-layout .update-list a .left {
	float: left;
	width: 45%;
}

.login-layout .update-list a .right {
	float: right;
	width: 55%;
}

@media only screen and (max-width: 820px) {
	.show-only-with-progress-bar {
		display: none;
	}
}



@media only screen and (min-width: 760px)
{
	.login-layout .form-list.wider {
		width: 670px;
		left: -162px;
	}
	
	.login-layout .form-list.wider .intro {
		padding: 1px 85px;
		margin-left: 0;
		margin-right: 0;
		line-height: 1.5;
	}

	.login-layout .form-list.wider input {
		width: 46%;
		margin: 18px 2%;
		float: left;
		clear: none;
	}

	.login-layout .form-list.wider .buttons {
		width: 50%;
		margin: 0 25%;
		padding-top: 20px;
		clear: both;
	}
}