<form [formGroup]="pswdFrm" (ngSubmit)="changePass()">
  <div class="row top-buffer">
    <p class="text-center">Password should contain atleast 1 number, 1 letter and 1 symbol.</p>
    <p class="text-center">new password cannot be the same as the previous password.</p>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="form-group">
          <input type="password" placeholder="OLD PASSWORD" [(ngModel)]="pswdMdl.Cur_Password " [formControl]="pswdFrm.controls['Cur_Password']">
          <div class="error text-center" *ngIf="pswdFrm.controls['Cur_Password'].touched && pswdFrm.controls['Cur_Password'].hasError('required')">Password is required.</div>
          <div class="error text-center">{{errorMessage}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <input type="password" placeholder="PASSWORD" [(ngModel)]="pswdMdl.User_Password " [formControl]="pswdFrm.controls['User_Password']"
            validateEqual="confirmpassword" reverse="true" validatePassword>
          <div class="error text-center" *ngIf="pswdFrm.controls['User_Password'].touched && pswdFrm.controls['User_Password'].hasError('required')">Password is required.</div>
          <div class="error text-center" *ngIf="pswdFrm.controls['User_Password'].touched && !pswdFrm.controls['User_Password'].valid
             && !pswdFrm.controls['User_Password'].hasError('required') && !pswdFrm.controls['User_Password'].hasError('minlength') && !pswdFrm.controls['User_Password'].hasError('validatePassword')">Password should contain at least one uppercase,one lowercase and one digit</div>
          <div class="error text-center" *ngIf="pswdFrm.controls['User_Password'].touched && pswdFrm.controls['User_Password'].hasError('minlength')">Password must be atleast 8 digits</div>
           <div class="error text-center">{{errorMsg}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <input type="password" placeholder="CONFIRM PASSWORD" [(ngModel)]="pswdMdl.confirmpassword" [formControl]="pswdFrm.controls['confirmpassword']"
            validateEqual="User_Password">
          <div class="error text-center" *ngIf="pswdFrm.controls['confirmpassword'].touched && pswdFrm.controls['confirmpassword'].hasError('required')">Confirm password is required.</div>
          <div class="error text-center" *ngIf="pswdFrm.controls['confirmpassword'].touched && !pswdFrm.controls['confirmpassword'].valid && !pswdFrm.controls['confirmpassword'].hasError('required')">Password do not match!!!!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="form-group buttons">
            <div class="row">
              <div class="col-xs-2  col-sm-offset-2">
                <button class="backbtn" type="button" (click)="gbf()"></button>
              </div>
              <div class="col-xs-10 col-sm-6">
                <button [disabled]="!pswdFrm.valid" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>