<div class="columns">
  <div class="col-side bordered">
    <!-- Start user progress component-->
    <app-sidebar></app-sidebar>
    <!-- End user progress component-->
  </div>
  <div class="col gutter-left"  style="width:100%;">
    <div class="top-bordered">
      <div class="top-icons">
        <app-user-progress></app-user-progress>
      </div>
      <header class="row  title-btns-split">
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
  	      <button [ngClass]={selected:isSelectedList(1)} (click)="viewApplications()">VIEW APPLICATIONS</button>
          <div class="row">
            <button [ngClass]={selected:isSelectedList(2)} (click)="viewSignedDocuments()">VIEW SIGNED LEASE AGREEMENTS</button>
          </div>
          <div class="row">
            <button [ngClass]={selected:isSelectedList(4)} (click)="viewLeasedContracts()">VIEW LEASED CONTRACTS</button>
          </div>
          
        </div>
      </header>

      <div id="listing-results">
        <p class="intro">APPLICATION ({{getNumOfRecords()}} TOTAL)</p>
        <table>
          <tbody *ngFor="let item of rentApplications">
            <tr (click)="brokerAccept(item)">
              <td class="wid-10"><i class="fa fa-user-circle fa-3x"></i></td> 
              <td>{{item.Renter_First_Name}}&nbsp;{{item.Renter_Last_Name}}&nbsp;
                <span *ngIf="item.Bookmark_Status == constants.bookmarkStatus.applied">applied for&nbsp;</span>
                [&nbsp;{{item.Property_Unit_Number}},&nbsp;{{item.Property_Address}},&nbsp;{{item.Property_City}}-{{item.Property_Postal_Code}}&nbsp;]&nbsp;
                <span *ngIf="(item.Bookmark_Application_Status == constants.bookmarkApplicationStatus.acceptedBroker) ">to be approved&nbsp;</span>  
                <span *ngIf="(item.Bookmark_Application_Status == constants.bookmarkApplicationStatus.approvedBroker) ">in process&nbsp;</span>   
                <span *ngIf="(item.Bookmark_Application_Status == constants.bookmarkApplicationStatus.docLoaded) ">send for signing&nbsp;</span> 
                <span *ngIf="(item.Bookmark_Application_Status == constants.bookmarkApplicationStatus.docSigned) ">document signed&nbsp;</span>     
                <!--<span *ngIf="(item.Broker_User_ID != getCurrentBrokerId()) ">Handled by&nbsp;</span>-->
                <span *ngIf="(item.Bookmark_Application_Status == constants.bookmarkApplicationStatus.acceptedLandlord)">forwarded to landlord&nbsp;</span>
                <span *ngIf="item.Bookmark_Application_Status > constants.bookmarkApplicationStatus.acceptedLandlord">approved by landlord&nbsp;</span>
                <span *ngIf="item.Bookmark_Application_Status > constants.bookmarkApplicationStatus.leased">leased&nbsp;</span>as on&nbsp;
                <span *ngIf="item.Bookmark_Application_Modification_Date">{{item.Bookmark_Application_Modification_Date | date:'MM/dd/yyyy'}}</span>
                <span *ngIf="!(item.Bookmark_Application_Modification_Date)">{{item.Bookmark_Modification_Date | date:'MM/dd/yyyy'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
