<div class="columns">
  <div class="col-side bordered">
    <!-- Start user progress component-->
    <app-sidebar></app-sidebar>
    <!-- End user progress component-->
  </div>
  <div class="col gutter-left" style="width:100%;">
    <div class="top-bordered">
      <div class="top-icons">
        <app-user-progress></app-user-progress>
      </div>
      <header class="row title-btns-split">
        <div *ngIf="errorVar" class="alert alert-danger text-center">{{errorMsg}}</div>
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
          <!--<header class="">-->
          <h1 *ngFor="let address of bkmrk.getAddressArray()">{{address}}</h1>
          <!--</header>-->
        </div>
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">


          <!--<div *ngIf="bkmrk.checkCurrentBookmarkId()">
            <a class="button" id="aplbtn1" *ngIf="bkmrk.getCurrentBookmarkStatus() < constants.bookmarkStatus.inProcess"
                  [ngClass]="{disabled: bkmrk.getCurrentBookmarkStatus() >  constants.bookmarkStatus.toBeApplied}" (click)="apply('TXT01')">
                  <span *ngIf="(bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.toBeApplied)" id= "applyButton">Apply</span>
                  <span *ngIf="bkmrk.getCurrentBookmarkStatus() > constants.bookmarkStatus.toBeApplied" id= "appliedButton">Applied</span>
            </a>
            
              <a class="button" id="aplbtn2" *ngIf="(bkmrk.getCurrentBookmarkStatus() > constants.bookmarkStatus.applied)" (click)="gotoViewApplication()">
                  <span>View Application</span>
            </a>
          </div>   -->
          <div class="row" *ngIf="bkmrk.checkCurrentBookmarkId()" >            
            <!--<a class="button" id="aplbtn2" *ngIf="(bkmrk.getCurrentBookmarkStatus() > constants.bookmarkStatus.applied)" [routerLink]="[auth.getRoute('apply')]">-->            
            <!--<a  *ngIf="bkmrk.getPaymentEnabled()" class="col-xs-12 button" (click)='gotoPayments()'>Payments</a>-->
            <a  *ngIf="bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.approved && bkmAppSrv.getApplicationStatus() == constants.bookmarkApplicationStatus.leased" class="col-xs-12 button" (click)='gotoPayments()'>Payments</a>
          </div>

          <div class="row">            
            <button class="col-xs-3 backbtn" *ngIf="auth.getHasProgressed()" type="button" (click)="gbf()"></button>
            
            <div [ngClass]="{'col-xs-9':auth.getHasProgressed()}">
              <!--<button   *ngIf="bkmrk.checkCurrentBookmarkId()" 
                (click)="removeBookmark(messages.TXT09)">
                  <span>Remove</span>
              </button>-->
              <!--<button id="aplbtn3" *ngIf="bkmrk.isCurrentBookmarkId" (click)="addNewBookmark()" [disabled]="bookmarkBtn">-->
              <div *ngIf="bkmrk.checkCurrentBookmarkId()">
                <a class="button" id="aplbtn1" *ngIf="bkmrk.getCurrentBookmarkStatus() <= constants.bookmarkStatus.inProcess" 
                [ngClass]="{disabled: bkmrk.getCurrentBookmarkStatus() >  constants.bookmarkStatus.toBeApplied}" (click)="apply('TXT01')">
                  <span *ngIf="(bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.toBeApplied)" id="applyButton">Apply</span>
                  <span *ngIf="bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.applied || bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.inProcess" id="appliedButton">Applied</span>
                </a>
                <div>                   
                  <a class="button" id="aplbtn2" *ngIf="(bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.approved && bkmAppSrv.getApplicationStatus() < constants.bookmarkApplicationStatus.docLoaded)"  (click)="gotoViewApplication()"><span>View Application</span></a>             
                  <!--<a class="button" *ngIf="(bkmAppSrv.getApplicationStatus() >= constants.bookmarkApplicationStatus.docLoaded)" (click)="gotoLeaseSummary()"><span>View Application</span></a>                   -->
                  <a *ngIf="bkmrk.getCurrentBookmarkStatus() == constants.bookmarkStatus.approved && bkmAppSrv.getApplicationStatus() >= constants.bookmarkApplicationStatus.docLoaded" (click)="gotoLeaseSummary()" class="button"><span>View Lease Agrement</span></a>
                </div>

              </div>
              <button id="aplbtn3" *ngIf="!bkmrk.checkCurrentBookmarkId()" (click)="addNewBookmark()" [disabled]="bookmarkBtn">
                  <span>Bookmark</span>
              </button>
            </div>
          </div>
          <!--<div *ngIf="bkmrk.checkCurrentBookmarkId()">
            <div *ngIf="bkmrk.getCurrentBookmarkStatus() > constants.bookmarkStatus.applied" >
              <h1> Represented by &nbsp;{{bkmAppSrv.getBrokerName()}} </h1>
              <h1> {{bkmAppSrv.getBrokerContact()}} </h1>
            </div>
          </div>-->
        </div>
        <div class="text-right" *ngIf="bkmrk.checkCurrentBookmarkId()">
          <div *ngIf="bkmrk.getCurrentBookmarkStatus() > constants.bookmarkStatus.applied">
            <h1> Represented by &nbsp;{{bkmAppSrv.getBrokerName()}} / {{bkmAppSrv.getBrokerContact()}} </h1>
          </div>
        </div>
      </header>

      <!--<div class="row info-lists" (click)="requestIdel()">-->
      <div class="row info-lists">
        <div class="col-sm-6 col-md-3">
          <ul class="first-is-title">
            <li *ngFor="let rent of bkmrk.getRentArray()">{{rent}}<br/></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <ul class="first-is-title">
            <li *ngFor="let detail of bkmrk.getDetailArray()">{{detail}}<br/></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <ul class="first-is-title">
            <li *ngFor="let amenities of bkmrk.getAmenitiesArray()">{{amenities}}<br/></li>
            <!--<li [ngClass]="{'remove-bullets': bkmrk.isAmenitiesEmpty }" *ngFor="let amenities of bkmrk.getAmenitiesArray()">
              <div *ngIf="!(checkIsArray(amenities))">{{amenities}}<br/></div>
              <div *ngIf="checkIsArray(amenities)">
                <span *ngFor="let item of amenities">{{item}}<br/></span>
              </div>
            </li>            -->
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <ul class="first-is-title">
            <li *ngFor="let openhouse of bkmrk.getOpenHouseArray()">{{openhouse}}<br/></li>
            <!--<li [ngClass]="{'remove-bullets':bkmrk.isOpenHouseEmpty}" *ngFor="let openhouse of bkmrk.getOpenHouseArray()">
              <div *ngIf="!(checkIsArray(openhouse))" >{{openhouse}}<br/></div>
              <div *ngIf="checkIsArray(openhouse)" >
                <div *ngFor="let item of openhouse">
                  <span>OpenDate: {{item.date}}</span>
                  <span>StartTime: {{item.start_time}}</span> 
                  <span>EndTime: {{item.end_time}}</span>                       
                </div>
              </div>  
            </li>                                               -->
          </ul>
        </div>
      </div>


      <div id="myCarousel" class="carousel slide" *ngIf="bkmrk.getImageArrayLength()">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item" *ngFor="let propertyImage of bkmrk.getImageArray(); let i = index;" [ngClass]="{active:i==0}">
            <img class="center-block" src="{{propertyImage['large']}}">
          </div>
          <div id="_mapParent" class="item">
            <div id="_map" class="loc-map"> </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" (click)="mapResizeevent()" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" (click)="mapResizeevent()" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br/>
      <img *ngFor="let propertyImage of bkmrk.getImageArray(); let i = index;" src="{{propertyImage['thumbnail']}}" class="img-thumbnail"
        width="76" height="59" data-target="#myCarousel" [attr.data-slide-to]="i" [ngClass]="{active:i==0}">
      <img src="assets/images/map_thumb.png" *ngIf="!isRequesting" class="img-thumbnail" width="76" height="59" data-target="#myCarousel"
        [attr.data-slide-to]="bkmrk.getImageArrayLength()" (click)="mapResizeevent()">
      <br/>
      <br/>
      <!--<div id="brokerEmailId">{{bkmrk.getAccessInfo()}}</div>-->

    </div>
  </div>
</div>